// Theme's Palette
@import("C:/Users/VULCAN/source/repos/blog-back/node_modules/vuepress-theme-reco/styles/palette.styl")

// User's Palette
@import("C:/Users/VULCAN/source/repos/blog-back/.vuepress/styles/palette.styl")